*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: #f0f0f0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container {
  padding: 2rem;

  display: flex;
  gap: 2rem;
}
.playerOne,
.playerTwo {
  max-width: fit-content;
}
.playerTitle {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1.8rem;
}
.playerGrid {
  width: 30rem;
  height: 30rem;
  padding: 0.2rem;

  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.playerOneGrid {
  background-color: lightblue;
}
.playerTwoGrid {
  background-color: lightpink;
}
.btnPlay {
  display: inline-block;
}
